/* Buttons */

.mute{
  align-self: center;
  background-image: url(../assets/90-60-Mute.svg);
  height: 60px;
  width: 90px;}
.mute:hover,
.mute:active{
  background-image: url(../assets/90-60-Mute-Active.svg)}

/* Containers */

.mix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Slider */

.slider input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  height: 300px;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  width: 250px;
}

.slider input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: #000000;
  border-radius: 10px;
  border: 3px solid #010101;
}

.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../assets/40-Thumb.svg);
  cursor: pointer;
  margin-top: -15.5px;
}