.preview {
background-color: #16151A;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
height: inherit;
}

.preview1 {
    justify-content: center;
    text-align: center;
    background-color: #000000;
    grid-area: 2 / 2 / 5 / 5;
    padding: 100px;}
.preview2 {
    background-color: transparent;    
    grid-area: 1 / 1 / 3 / 6;
    text-align:center;}
.preview3 {
    background-color: transparent;    
    grid-area: 5 / 1 / 5 / 6; }